*{    
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2bea1;
    background-image: linear-gradient(315deg, #e2bea1 0%, #f6f0ea 74%);
}

/* navbar */
.logo{
    width: 250px;
    height: 70px;
}

.itens{
    border: 1px solid rgb(226, 223, 223);   
}

.itens:hover{
    background-color:#ebebeb;
}

.espaco{
    height: 110px;
}

/*pagPromoções */
.bannerPromo{
    background-color: #23998dc2;
    text-align: center;
    color: #a02304;
    border-radius: 20px;
}

.card-promocao a{
    text-decoration: none;
    color: rgb(26, 24, 24);
}

.card-promocao :hover{
    font-size: 18px;
    color: #aa102a;
}

/* pag Contato */
.texto{  
    text-align: center;
}

.contatos{
    background-color:#f8f2e4; 
    align-items: center;
}

.form-group h5{
    text-align: center;
}

form{
    background-color: #9abdba;
    padding: 20px;
    border-radius: 10px;
}

.card-contato{
    color:rgb(75, 75, 75);
    border: 1px solid #fa3419;
}

.card-contato :hover{
    background-color:#ecf8f7;
}

.modal{
    text-align: center;
    font-size: 20px;
}

.modal-header{
    text-align: center;
}

/* pag Destinos */
.carousel-item a{
    text-decoration: none;
    color: white;
}

.card-destinos :hover{
    color: #23998e;
} 

.card-destinos a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

/* rodape */
footer{
    height: 130px;
    font-size: 14px;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color:rgb(75, 75, 75);
}

.redes{
    background-color:#dfdfdf ;   
}